.App {
  text-align: center;
 
}

.student-form{
  display: inline-block;
  text-align: center;
  border: 1px solid lightcoral;
  width: 500px;
  height: 340px;
  margin: 26px;
  background-color: bisque;

}

form{
  display: inline-block;
  text-align: center;
  border: 1px solid lightcoral;
  width: 500px;
  height: 310px;
  margin: 26px;
  background-color: bisque;

}


label{
  display: inline-block;
  width: 290px;
  height: 40px;
  display: inline-block;
  font-family: cursive;
  margin: 5px;
}

nav{
background-color: yellow;
color: black;
} 

.stud{
  position: relative;
  right: 20px;
  color: black;
  font-family: cursive;
}
.book{
  position: relative;
  left: 20px;
  color: black;
  font-family: cursive;
}
table,th,td{
  border: 2px solid black;

}
table{
 position: relative;
 left: 40%;
}

button{
  margin: 10px;
}